footer ul {
  margin: 0!important;
}
.list {
  background-image: none;
  background-color: #D7D3C8;
}

.list .slide:target:after {
  color: #C13832;
}
.list .slide:target:before {
  box-shadow: 0px 0px 0px 12px #C13832;
}

.slide.cover {
  background-color: #D7D3C8;
}
.slide.shout {
  background-color: #C13832;
}
.slide.cover.alt {
  background-color: #EFEFEF;
}

.caption h1,
#h2 {
  font-family: "Open Sans", sans-serif;
}
.caption h2,
#cover h3 {
  font-family: "Open Sans Light", sans-serif;
}
.slide.cover h2,
#cover h2 {
  font-weight: bold;
  letter-spacing: -0.05em;

  background-color: #C13832;
  color: #fff;
}
#cover h3 {
  position: absolute;
  top: 55%;
  left: 128px;
  right: 96px;
  color: #fff;
  font-size: 40px;
}

.slide blockquote {
  font-size: 1.5em;
}

.cover.nocover {
  background-color: #fff;
}
.slide.cover h2 {
  display: inline-block;
  padding: 0.5em;
}

.slide.cover h2 a,
table.box a {
  color: #fff;
  border-bottom: 0 none;
  text-decoration: none;
}

table.box {
  border-collapse: separate;
  border-spacing: 4px;
  text-align: center;
  width: 100%;
}
table.box td {
  min-width: 16%;
  background-color: rgba(82, 162, 223, 1);
  color: #fff;
  padding: 0.5em;
  vertical-align: middle;
}
table.box td.empty {
  background-color: #fff;
  border: 0 none;
}
